<template>
  <div id="app">
    <div class="uk-flex uk-width-1-1">
      <div class="uk-flex-1 uk-padding-small">
        <form>
          <fieldset class="uk-fieldset">
              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Name" v-model="form.name" :class="computeFormClasses('name')">
              </div>

              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Project name" v-model="form.projectName" :class="computeFormClasses('projectName')">
              </div>

              <div class="uk-margin">
                  <label class="uk-form-label">Website URL</label>
                  <input class="uk-input" type="text" placeholder="Website" v-model="form.website" :class="computeFormClasses('website')">
              </div>

              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Email" v-model="form.email" :class="computeFormClasses('email')">
              </div>

              <div class="uk-margin">
                  <select class="uk-select" v-model="form.selectBox" :class="computeFormClasses('selectBox')">
                      <option>Option 1</option>
                      <option>Option 2</option>
                  </select>
              </div>

              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" :class="computeFormClasses('radioBox')">
                  <label><input class="uk-radio" type="radio" v-model="form.radioBox" value="A"> Option A</label>
                  <label><input class="uk-radio" type="radio" v-model="form.radioBox" value="B"> Option B</label>
              </div>

              <div class="uk-margin">
                  <label><input class="uk-checkbox" type="checkbox" v-model="form.checkBox1"> Checkbox boolean</label>
              </div>

            <div class="uk-margin">
                <label><input class="uk-checkbox" type="checkbox" v-model="form.checkBox2"> Checkbox boolean (default unchecked)</label>
            </div>

          </fieldset>
        </form>
      </div>

      <div class="uk-flex-1 uk-padding-small">
        <textarea readonly class="uk-textarea" rows="5" placeholder="Textarea" v-bind:class="{ 'uk-form-danger': !formValid }" v-model="formAsYaml"></textarea>
        <button class="uk-button uk-button-default uk-margin-small-top" v-on:click="downloadOutput()" v-bind:disabled="!formValid">Download manifest</button>
      </div>
    </div>
    
  </div>
</template>

<script>

import yaml from 'js-yaml'
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: 'app',

  components: {},

  data: function () {
    return {
      form: {
        name: undefined,
        projectName: undefined,
        website: undefined,
        email: undefined,
        selectBox: undefined,
        radioBox: undefined,
        checkBox1: true,
        checkBox2: false
      },
    }  
  },

  // Vuelidate validation rules
  validations: {
    form: {
      name: { required, min: minLength(5) },
      projectName: { required },
      website: {},
      email: { required, email },
      selectBox: { required },
      radioBox: { required },
      checkBox1: {},
      checkBox2: {}
    }
  },

  methods: {
    computeFormClasses: function(componentName) {
      return {
        'uk-form-danger': (this.$v.form[componentName].$error) || (this.$v.form[componentName].$invalid)
      }
    },

    downloadOutput: function() {
      var fileType = "text/csv"
      var blob = new Blob([this.formAsYaml], { type: fileType });

      var a = document.createElement('a');
      a.download = "manifest.yml";
      a.href = URL.createObjectURL(blob);
      a.dataset.downloadurl = [fileType, a.download, a.href].join(':');
      a.style.display = "none";
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
      setTimeout(function() { URL.revokeObjectURL(a.href); }, 500);
    },

    cleanForm: function(obj) {
      Object.keys(obj).forEach(key => {
        // If the value is another object, recursively run this function
        if (obj[key] && typeof obj[key] === 'object') {
          this.cleanForm(obj[key]);
        }
        // If it's an empty string, delete the key
        else if (obj[key] === '') {
          delete obj[key];
        }
        // If the value is not an object, delete it if undefined
        else if (obj[key] === undefined) {
          delete obj[key];
        }
      });
      return obj;
    }
  },

  computed: {
    formAsJson: function () {
      return JSON.stringify(this.form)
    },
    formAsYaml: function () {
      var cleanedForm = this.cleanForm(this.form)
      return yaml.safeDump(cleanedForm)
    },
    formValid: function () {
      return !this.$v.form.$invalid
    }
  }

}
</script>

<style lang="less">
// Basic UIkit CSS
@import "../node_modules/uikit/src/less/uikit.less";
@import "../node_modules/uikit/src/less/uikit.theme.less";

textarea {
  resize: none;
  height: 100%;
}

.input {
  .hasError & {
    border-color: red;
  }
}

.hasError label {
  color: red;
}

</style>
